<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="consulta-operaciones-component">
  <template>
    <style>
      :host {
        display: block;
      }

      .container {
        position: relative;
        height: auto;
        margin: 10px;
        background-color: #fff;
        color: gray;
        padding: 20px;
        display: inline-block;
        width: 95%;
      }
      
      .row {
        display: inline-block;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
      }
    
      .title{
        text-align: center;
      }

      .div-label {
        display:inline-block;
        width:100%;
        margin-bottom: 5px; 
      }

      .div-text {
        display:inline-block; 
        width:100%; 
      }

      .txt-box-small{
        width: 100%;
        padding: 12px;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
      }

      ::placeholder{
        color: #33333348;
      }

      .col-1{
        position: relative;
        display: inline-block;
        width: 20%;
        text-align: left;
        margin-left: 35px;
        margin-top: 10px;
        align-items: center;
      }

      .col-2{
        float: left;
        width: 20%;
        text-align: left;
        margin-left: 35px;
        margin-top: 10px; 
      }

      .btn{
        display: inline-block;
        border: 2px solid #08948e;
        border-radius: 10px; 
        color: #08948e;
        font-size: 14px;
        padding: 0.5rem 2rem;
        cursor: pointer;
        text-decoration: none;
        width: 70%;
        text-align: center;
      }

      .btn:hover{
        background: #3a98a28c;
        color: #fff;
        cursor: pointer;
      }
        
      .btn-2{
        display: inline-block;
        border: 2px solid #08948e;
        border-radius: 5px;
        color: #08948e;
        font-size: 14px;
        padding: 0.4em 0.1em;
        cursor: pointer;
        text-decoration: none;
        width: 100%;
        text-align: center;
      }

      .btn-2:hover{
        background: #3a98a28c;
        color: #fff;
        cursor: pointer;
      } 

      table{
        width: 100%; 
        margin-top: 10px; 
        border-collapse: collapse; 
        border: 1px solid #444;
      }

      th {
        background-color: #08948e;
        color: #f1f1f1;
        padding: 15px;
      }

      td, th{
        border: 1px solid rgba(228, 228, 228, 0.904);
      }

      td{
        padding: 10px;
      }

    </style>

    <!--Start My Component-->
    <div class="container">
      <h2 class="title">CONSULTA OPERACIONES</h2>
      <hr>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">No. Empleado</label>
          </div>

          <div class="div-text">
            <input type="text" class="txt-box-small" placeholder="No. Empleado">
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Unidad Negocio</label>
          </div>

          <div class="div-text">
            <select class="txt-box-small">
              <option value="">UNE 1</option>
              <option value="">UNE 2</option>
            </select>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Cliente</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small">
              <option value="">Razón 1</option>
              <option value="">Razón 2</option>
            </select>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Cuenta</label>
          </div>
    
          <div class="div-text">
            <select class="txt-box-small">
              <option value="">Subcuenta 1</option>
              <option value="">Subcuente 2</option>
              <option value="">Subcuenta 3</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Reemplaza</label>
          </div>

          <div class="div-text">
            <input type="checkbox" class="txt-box-small">
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Empreza</label>
          </div>

          <div class="div-text">
            <select class="txt-box-small">
              <option value="">DigitalExpress</option>
              <option value="">Empower4Talent</option>
            </select>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Mes Facturacion</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small">
              <option value="">ENERO</option>
              <option value="">FEBRERO</option>
              <option value="">MARZO</option>
              <option value="">ABRIL</option>
              <option value="">MAYO</option>
              <option value="">JUNIO</option>
              <option value="">JULIO</option>
              <option value="">AGOSTO</option>
              <option value="">SEPTIEMBRE</option>
              <option value="">OCTUBRE</option>
              <option value="">NOVIEMBRE</option>
              <option value="">DICIEMBRE</option>
            </select>
          </div>
        </div>
        
        <div class="col-1">
          <div class="div-label">
            <label for="">Año Servicio</label>
          </div>

          <div class="div-text">
            <input type="text" class="txt-box-small">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Estatus</label>
          </div>

          <div class="div-text">
            <select class="txt-box-small">
              <option value="">Activo</option>
              <option value="">Baja</option>
              <option value="">Banca</option>
              <option value="">Reemplazo</option>
            </select>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Backlog/Presupuesto</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small">
              <option value="">Backlog</option>
              <option value="">Presupuesto</option>
            </select>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Tipo Servicio</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small">
              <option value="">Consultoría</option>
              <option value="">Staffing</option>
              <option value="">Capacitación</option>
            </select>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Backlog/Presupuesto</label>
          </div>
    
          <div class="div-text">
            <select class="txt-box-small">
              <option value="">Backlog</option>
              <option value="">Presupuesto</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <div class="div-label">
            <label for="">Mes de Servicio</label>
          </div>

          <div class="div-text">
            <select class="txt-box-small">
              <option value="">ENERO</option>
              <option value="">FEBRERO</option>
              <option value="">MARZO</option>
              <option value="">ABRIL</option>
              <option value="">MAYO</option>
              <option value="">JUNIO</option>
              <option value="">JULIO</option>
              <option value="">AGOSTO</option>
              <option value="">SEPTIEMBRE</option>
              <option value="">OCTUBRE</option>
              <option value="">NOVIEMBRE</option>
              <option value="">DICIEMBRE</option>
            </select>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Estatus Factura</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small">
              <option value="">Todas</option>
              <option value="">Cobradas</option>
              <option value="">Ingresada al Flujo</option>
              <option value="">En Espera de Ceptación</option>
              <option value="">Ingresada a Confirming (Indra)</option>
              <option value="">incobrable</option>
            </select>
          </div>
        </div>

        <div class="col-1">
          <div class="div-label">
            <label for="">Mes de Facturacion</label>
          </div>
  
          <div class="div-text">
            <select class="txt-box-small">
              <option value="">ENERO</option>
              <option value="">FEBRERO</option>
              <option value="">MARZO</option>
              <option value="">ABRIL</option>
              <option value="">MAYO</option>
              <option value="">JUNIO</option>
              <option value="">JULIO</option>
              <option value="">AGOSTO</option>
              <option value="">SEPTIEMBRE</option>
              <option value="">OCTUBRE</option>
              <option value="">NOVIEMBRE</option>
              <option value="">DICIEMBRE</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-1">
          <a href="#" class="btn">Buscar</a>
        </div>
  
        <div class="col-1">
          <a href="#" class="btn">Agregar</a>
        </div> 
      </div>

      <div class="row" style="overflow: scroll;">
        <table>
          <thead>
            <tr>
              <th>EDITAR</th>
              <th>NO. DE EMPLEADO</th>
              <th>NOMBRE DEL RECURSO</th>
              <th>ESTATUS</th>
              <th>AÑO DE SERVICIO</th>
              <th>FECHA DE ASIGNACIÓN</th>
              <th>FECHA DE BAJA CLIENTE</th>
              <th>FECHA DE BAJA NOMINAL</th>
              <th>REEMPLAZO</th>
              <th>BACKLOG/PRESUPUESTADO</th>
              <th>TIPO DE SERVICIO</th>
              <th>UNIDAD DE NEGOCIO</th>
              <th>EMPRESA</th>
              <th>INTERCOMPAÑIA</th>
              <th>CLIENTE DE FACTURACIÓN (RAZÓN SOCIAL)</th>
              <th>CUENTA</th>
              <th>FORMA FACTURACIÓN (ODG/UGR)</th>
              <th>ACEPTACIÓN/RECEPCIÓN</th>
              <th>MES DE SERVICIO</th>
              <th>TARIFA HR</th>
              <th>HORAS ESTIMADAS</th>
              <th>HORAS REALES</th>
              <th>DIFERENCIA HE VS HR</th>
              <th>NO. FACTURA</th>
              <th>ESTATUS FACTURA</th>
              <th>FECHA FACTURACIÓN</th>
              <th>MES FACTURACIÓN</th>
              <th>PRESUPUESTADO</th>
              <th>REAL</th>
              <th>DIFERENCIA</th>
              <th>COSTO DE VENTAS</th>
              <th>UTILIDAD BRUTA</th>
              <th>PORCENTAJE</th>
              <th>COSTO DE VENTAS</th>
              <th>UTILIDAD BRUTA</th>
              <th>PORCENRAJE</th>
            </tr>
          </thead>
    
          <tbody>
            <tr>
              <td><a href="#" class="btn-2">Modificar</a></td>
              <td>#1</td>
              <td>LUIS MIGUEL GARCIA</td>
              <td>ACTIVO</td>
              <td>2018/2019</td>
              <td>21/08/2019</td>
              <td>NA</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
    
            <tr style="background: lightgray;">
              <td><a href="#" class="btn-2">Modificar</a></td>
              <td>#2</td>
              <td>IRIS LIZETH</td>
              <td>BAJA</td>
              <td>2018/2019</td>
              <td>21/08/2019</td>
              <td>NA</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
    
            <tr>
              <td><a href="#" class="btn-2">Modificar</a></td>
              <td>#3</td>
              <td>VICTOR MANUEL</td>
              <td>ACTIVO</td>
              <td>2018/2019</td>
              <td>21/08/2019</td>
              <td>NA</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
      
            <tr style="background: lightgray;">
              <td><a href="#" class="btn-2">Modificar</a></td>
              <td>#4</td>
              <td>MANUEL CARRERA</td>
              <td>BAJA</td>
              <td>2018/2019</td>
              <td>21/08/2019</td>
              <td>NA</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
    
          </tbody>
        </table>
      </div>
    

    </div>
    <!--End My Component-->
  </template>

  <script>
    /**
     * `consulta-operaciones-component`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ConsultaOperacionesComponent extends Polymer.Element {
      static get is() { return 'consulta-operaciones-component'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'consulta-operaciones-component'
          }
        };
      }
    }

    window.customElements.define(ConsultaOperacionesComponent.is, ConsultaOperacionesComponent);
  </script>
</dom-module>
